.slide {
  display: none;
}

.slide p {
  margin-bottom: 40px;
}
.slideshow {
  display: flex;
  flex-direction: column;
}
div.content {
  height: 450px;
  font-size: 18px;
}


div.arrow {
  margin: auto;
  font-size: 50px;
  color: white;
}

.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}
